#app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#app .notification {
    color: limegreen;
    border: 1px solid limegreen;
    background-color: rgba(50, 205, 50, 0.05);
    width: 50%;
    position: relative;
    margin: 5px 25%;
    text-align: center;
}

#app #start-game {
    background-color: limegreen;
    color: white;
    width: 30%;
    position: relative;
    margin: 5px 35%;
    border: none;
    border-radius: 5px;
}

#app .wrapper {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#app .wrapper .field {
    padding: 0;
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    margin: 5px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    font-size: .95em;
}

#app .wrapper .field .cell {
    text-align: center;
    vertical-align: middle;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    background-color: #fff;
    box-sizing: border-box;
}

#app .wrapper .field .cell.clickable {
    cursor: pointer;
}

#app .wrapper .field .cell.has-ship {
    background-color: limegreen;
}

#app .wrapper .field .cell.hit {
    background-color: red;
}

#app .wrapper .field .cell.miss {
    background-color: blue;
}

